@import 'Import/Variables';
@import 'Import/Classes';
@import 'Import/Mixin';
@import 'Import/Container';
@import 'Import/Divider';
@import 'Import/Spacing';

@if $grid-enable-flex {
	@import 'Import/Flex';

	@if $grid-enable-fallback {
		#{$grid-enable-fallback} {
			@import 'Import/Float';

			@each $breakpoint in $grid-autowidth {
				@include media-breakpoint-up($breakpoint) {
					#{$grid-selector}col-#{$breakpoint} {
						float: left;
						display: inline-block;
					}
				}
			}
			@each $breakpoint in $grid-autowidth-min {
				@include media-breakpoint-up($breakpoint) {
					#{$grid-selector}col-#{$breakpoint}-min {
						float: left;
						display: inline-block;
					}
				}
			}
		}
	}
} @else {
	@import 'Import/Float';
}

@import 'Import/Hidden';
@import 'Import/Gutter';
