{namespace neos=TYPO3\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>
	<f:if condition="{container}">
		<f:then>
			<f:if condition="{needRow}"><div{attributesRow -> f:format.raw()}></f:if>
				<f:render section="Item" arguments="{_all}" />
			<f:if condition="{needRow}"></div></f:if>
		</f:then>
		<f:else>
			<f:render section="Item" arguments="{_all}" />
		</f:else>
	</f:if>
</div>

<f:section name="Image">
	<div class="{colClasses.image}">
		<f:render partial="Image" arguments="{_all}" />
	</div>
</f:section>

<f:section name="Text">
	<neos:contentElement.editable property="text" class="{colClasses.text}" />
</f:section>

<f:section name="Item">
	<f:if condition="{alignment} == 'top'">
		<f:then>
			<f:render section="Image" arguments="{_all}" />
			<f:render section="Text" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="Text" arguments="{_all}" />
			<f:render section="Image" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>
